.nav nav-pills mb-3{
    margin-left: 100%;
}
.btn,.container-fluid row>.btn > a {
    background-color: black;
  
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: white;

}
/* .container-fluid row >a{ background-color: black; */
  
   
/* } */

.btn > a{
    text-decoration: none;
    color: white;
}
.btn:hover{
    background-color: white;
    color: black;
}
.btn:hover>a{
    background-color: white;
    color: black;
}
.img-thumbnail{
    height: 150px;
    width:150px ;
    /* margin-left: 10%; */
  
}
.card-title{
    color: black; text-align: center;
}
.card h-100 bg-secondary{
    list-style: none;
  
}
.card col-4 col-md-2{
    border: 5px;
}
.card{
    border: 3px black solid;
}
div.card h-100 bg-secondary>li>a {
   
    text-decoration: none;
  
   
    color: white;
}
h3{
    text-align: center;
    color: white;
}
del{
    color: black;
    margin-right: 50%;
}
.btn{
  
}
.card col-4 col-md-2{
  align-self: center;
}

.main{
    justify-content: center;
    
    position: relative;
    text-align: center;
    
}
.main a .btn{
    margin-bottom: 5px;
}
.card1 img{
    height: 150px;
    width: 150px;
    position: relative;
    align-items: center;
    
}
.card1 a button{
    margin-bottom: 10px;
}
.card1{
    /* display: flex; */
    /* justify-content: space-between; */
    /* margin: -10px; */
    position:relative;
    border: 1px solid black;
    text-align:center;
    justify-content: center;
    /* padding: 10px; */
    object-fit: cover;

    
}
.a1{
    text-align: center;
}
.foot{
    text-align: center;
}
.cl1{
    display: flex;
    justify-content: center;
}
.cl1 div .card-body a{
    display: flex;
    justify-content:center;
    text-align: center;
    }
.cl1 div .card-body h5{
    display: flex;
    justify-content:center;
    text-align:left;
    }
.cl1{
    display: flex;
    justify-content:center;
    text-align: center;
    }
.cl1 div img{
    height: 300px;
    width: 300px;
    }

    .cl2 img{
        text-align: center;
        height: 300px;
    }
    .cl2 {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .cl3 img{
        height: 300px;
        width: 300px;
    }
    .cl3 {
     display: flex;
     justify-content: center;
     text-align: center;
    }
    .cl4 {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .cl4 img {
    height: 300px;
    width: 300px;
    }
    .cl5{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .cl5 div img{
        height: 300px;
        width: 300px;
    }